header li {
    display: inline;
}
header ul {
    padding: 0;
}
.article article {
    background-color: gray;
    color: blue;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.article article h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.article article a {
    text-decoration: none;
    color: blue;
}
